exportPattern("^[[:alpha:]]+")
import(Rsamtools)
importFrom(data.table,"dcast")
import(ggplot2)
importFrom(gam,"gam")
importFrom(rdist,"pdist")
importFrom(dynamicTreeCut,"cutreeHybrid")
importFrom(ComplexHeatmap,"HeatmapAnnotation")
importFrom(ComplexHeatmap,"draw")
importFrom(gridExtra,"grid.arrange")
importFrom(circlize,"colorRamp2")
importFrom(Biostrings,"readDNAStringSet")
importFrom(rlist,"list.cbind")
importFrom(parallel,"mclapply")
importFrom(grid,"gpar")
